@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-bg {
    background-size: 40px 40px;
    mask-image: linear-gradient(to bottom, transparent, 10%, black, 90%, transparent);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #162210;
}
::-webkit-scrollbar-thumb {
  background: #2e3928;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #59f20d;
}

@layer utilities {
  .mask-image-gradient {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
}

html, body {
  height: 100%;
}
